@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-accent: #fd9a63;
  --secondary-accent: #ecd8c4;
  --background-1: #1c1527;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: var(--background-1);
}

::selection {
  background: var(--primary-accent);
  color: var(--background-1);
}

::-webkit-scrollbar{
	width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track{
	border: 4px solid var(--background-1);
	background-color: #37294d;
  margin: 5px;
}

::-webkit-scrollbar-thumb{
	background-color: var(--primary-accent);
	border-radius: 12px;
}

@media only screen and (max-width: 680px){
  ::-webkit-scrollbar{
    width: 0;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-heading{
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 3em;
  color: var(--secondary-accent);
}

.snap-item{
  scroll-snap-align: start;
}

.body-div{
  scroll-snap-type:y proximity;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

/* *********************** navbar css ***************** */

nav {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5%;
  z-index: 21;
}
nav a {
  text-decoration: none;
  color: var(--secondary-accent);
  border-radius: 50vh;
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.links a:hover {
  color: black;
  background-color: var(--primary-accent);
}

nav .page-title {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}
nav .links {
  list-style: none;
  display: flex;
}
nav .links a {
  padding: 0.5em 1em;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: var(--secondary-accent);
}

@media only screen and (max-width: 680px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  nav .links {
    position: fixed;
    top: 0px;
    right: -100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1c1527;
    width: 100%;
    padding: 20% 0;
    transition: 0.3s;
  }

  nav li a {
    display: inline-block;
    color: #fd9a63;
    text-align: center;
    width: 100%;
    font-size: 2em;
  }
  nav a:hover {
    color: #d6f0ff;
  }
  .links.active {
    right: 0px;
  }

  .hamburger.active {
    position: fixed;
    right: 0px;
    padding-right: 5%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ********************** main homepage *********************** */

.image-holder {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background{
  transform: translateZ(-10px) scale(2);
}

.mountain{
  transform: translateZ(-5px) scale(1.5);
}
.foreground{
  transform: translateZ(-3px) scale(1.3);
}

.background, 
.foreground,
.mountain {
  position: absolute;
  /* top: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.big-title {
  transform: translate(0, 40%);
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 0 5px #9d4675;
  color: var(--secondary-accent);
}
.typing-text{
  display: inline;
}

.dot {
  color: #fc9c60;
  font-size: 1.5em;
}
.span1 {
  color: #ed4a8d !important ;
}

@media only screen and (max-width: 680px){
  .big-title{
    margin: 0 auto;
    font-size: 2em;
  }
}

/* ************************* About css *************************** */

.about {
  width: 100%;
  /* margin-top: -20px; */
  min-height: 100vh;
  background-color: #1c1527;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
}

.about h2 {
  color: var(--secondary-accent);
}

.about p {
  color: #c5844e;
}

.about .text {
  width: 40%;
  min-width: 300px;
  padding: 1em;
  font-size: 1.5em;
}
.about .image {
  display: flex;
  min-width: 300px;
  width: 40%;
  justify-content: center;
}

.image img {
  width: 80%;
  border-radius: 50%;
}

@media only screen and (max-width: 680px) {
  .about .text {
    font-size: 1.2em;
  }
  .about{
    gap: 1rem;
     /* max-height: 100vh; */
    align-content: center;
  }

}

/* ****************** projects css **************** */
.projects {
  background-color: #1c1527;
  min-height: 70vh;
  padding-bottom: 4em;
}

.projects-container{
  flex-wrap: nowrap;
  justify-content: flex-start;
  overscroll-behavior-inline: contain ;
  overflow-x: scroll;
  width: 80%;
  gap: 2rem;
  padding: 2rem;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > *{
  scroll-snap-align: start;
}


/* .project-card:nth-child(1){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/NotionOfNetizen_-riy5a9pM.gif?tr=w-800") ;
}
.project-card:nth-child(2){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/newsMonkey_nwHIfrgvK.gif?tr=w-800") ;
}
.project-card:nth-child(3){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/INotebook_e55s9M__h.png?tr=w-800") ;
}
.project-card:nth-child(4){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/car_showcase.gif?tr=w-500") ;
}
.project-card:nth-child(5){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/animetofood.gif?tr=w-500") ;
}
.project-card:nth-child(6){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/portfolio.gif?tr=w-500") ;
}
.project-card:nth-child(7){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/designers.gif?tr=w-500") ;
}
.project-card:nth-child(8){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/Covidbot.gif?tr=w-500") ;
}
.project-card:nth-child(9){
  background-image:url("https://ik.imagekit.io/nmtrlmn4bwh/MyPortfolio/merchstore.gif?tr=w-500") ;
} */


.project-card {
  background-size: cover;
  background-position: center;
  padding: 13em 0 0;
  border-radius: 1em;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  min-width: 300px;
  /* min-height: 405px; */
}

@media only screen and (max-width: 680px) {
  .projects-container{
    width: 100%;
    padding: 1rem;
  }
}

.project-card:hover {
  transform: scale(1.02);
}

.project-details p {
  width: 32ch;
  padding: 1em 0;
  font-size: 0.75em;
  line-height: 1.5em;
  color: rgba(236, 216, 196, 0.8);
  font-weight: 500;
}

.project-card p a{
  color: rgba(236, 216, 196, 0.8);
}

.project-details > a {
  text-decoration: none;
  padding: 0.3em 0.4em;
  display: inline-block;
  border: 1px solid var(--primary-accent);
  background-color: var(--primary-accent);
  border-radius: 50vh;
  font-size: 0.8em;
  color: #1c1527;
  font-weight: 550;
  transition: all 0.5s ease-out;
}

.project-details > a:hover {
  background-color: #fff;
  border: 1px solid #fff;
}

.project-details {
  --padding: 1.5em;
  padding: var(--padding);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.535) 17%,
    rgb(0, 0, 0)
  );
  color: #fff;
}

.project-details h3::after {
  content: " ";
  position: absolute;
  width: calc(100% + var(--padding));
  height: 4px;
  background-color: var(--primary-accent);
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  left: calc(var(--padding) * -1);
}

@media only screen and (max-width: 680px){
  .project-details h3{
    display: inline-block;
    border-bottom: 4px solid var(--primary-accent) ;
  }
}

@media (hover) {
  .project-details {
    transform: translateY(63%);
    transition: transform 0.5s ease;
  }
  .project-card:hover .project-details {
    transform: translateY(0);
    transition-delay: 0.5s;
  }

  .project-details > *:not(h3) {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .project-card:hover .project-details > *:not(h3) {
    opacity: 1;
    transition-delay: 0.8s;
  }

  .project-details h3 {
    position: relative;
    display: inline;
    /* width: max-content; */
    font-size: 1.5em;
  }
  .project-details h3::after{
    transform: scaleX(0);
  }
}

.project-card:hover .project-details h3::after{
  transform: scaleX(1);
}


/* ***************** Experience Css ******************* */

.experince {
  margin: 0;
  padding: 0 4em;
  background: linear-gradient(260deg, #006f60,#12006f, #65003b);
  animation: gradient-animation 5s ease infinite;
  background-size: 200% 200%;
}



.experince h5{
  color: var(--primary-accent);
}
.experince p{
  color: #afa194;
}

.experince-container{
  min-width: 300px;
  max-width: 700px;
  margin: auto;
  
}

@keyframes gradient-animation {
  0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.exp {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 20px solid;
  border-image: linear-gradient(to right,#8dcae2  0%,#c77ad6  100%);
  border-image-slice: 1;
  border-width: 5px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--secondary-accent);
}
.exp:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 3px;
  height: 2em;
  width: 2em;
  background-color: var(--primary-accent);
  text-align: center;
  line-height: 2em;
  color: #000;
  font-size: 1em;
  font-weight: 600;
}
.exp:nth-child(odd) {
  border-right: 5px solid;
  padding-left: 0;
  text-align: left;
}
.exp:nth-child(odd):before {
  left: 100%;
  margin-left: -17px;
}
.exp:nth-child(even) {
  border-left: 5px solid;
  padding-right: 0;
  text-align: right;
}
.exp:nth-child(even):before {
  right: 100%;
  margin-right: -17px;
}
.exp:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.exp:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 680px){
  .experince{
    padding: 0 1.5em;
  }
  .experince h2{
    padding: 1em 0;
  }
}


/* ********************* skills css ************************* */
.skills h2{
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 3em;
  color: var(--secondary-accent);
}

.skills-container{
  color: var(--background-1);
  text-align: center;
  gap: 2em;
  max-width: 900px;
  padding: 0 0 3em;
 
}

.skills-container i{
  color: var(--background-1);
  font-size: 4em;
  padding: 0.5em;
  
}

.skill-card{
  min-width: 170px;
  max-height: 300px;
  border-radius: 1em;
  padding:0 1em 1em;
  background-color: var(--primary-accent);
  transition: all 0.4s ease-in-out ;
}
.skill-card:hover{
  color: var(--primary-accent);
  background-color: #2b2730;
}

.skill-card:hover i{
  color: var(--primary-accent);
}

@media only screen and (max-width: 680px){
  .skills-container{
    gap: 1em;
  }
}


/* ******************** contact me css ********************* */


.contact-section{
  color: var(--secondary-accent);
  flex-direction: column;
  padding-bottom: 4em;
  
}
.contact-holder{
  width: 100%;
  flex-wrap: wrap-reverse;
  
}

.contact-details{
  width: 40%;
  /* min-width: 350px; */
  padding: 1em;
  max-width: 500px;
}

.contact-details i {
  color: var(--primary-accent);
  padding: 0.5em;
  font-size: 1.2em;
  transition: all 0.3s ease-in;
}

.contact-details a{
  text-decoration: none;
  color: var(--secondary-accent);
  font-size: 1em;
  pointer-events: none;
  
}

.icons{
  padding: 0.5em;
  display: flex;
  gap: 1em;
  pointer-events: all;
}

.icons i{
  color: var(--secondary-accent);
  font-size: 2em;
  padding: 0;
  pointer-events: all;
}

.contact-details div:hover i {
  color: #8c5838;
}

.contact-details a:hover i {
  color: #fc9c60;
}

.contact-form{
  width: 40%;
  padding: 1em;
  max-width: 500px;

}

.input-div{
  position: relative;
  border-bottom: 2px solid var(--secondary-accent);
  margin: 30px 0;
}
.input-div input{
  width: 100%;
  padding: 0 5px;
  color: var(--secondary-accent);
  height: 2em;
  font-size: 1em;
  background: none;
  border: none;
  outline: none;
}

.input-div textarea{
  width: 100%;
  padding: 0px 7px;
  margin-top: 10px;
  color: var(--secondary-accent);
  font-size: 1em;
  background: none;
  border: none;
  outline: none;
}

.input-div label:not(.textarea-label){
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.textarea-label{
  position: absolute;
  top: 80%;
  left: 5px;
  transition: .5s;
  pointer-events: none;
  transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:"color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

textarea{
  resize: none;
  margin: 0;
  padding: 0;
}

.input-div span::before{
  content: '';
  position: absolute;
  top: 33px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary-accent);
  transition: .5s;
}

.input-div .textarea-span::before{
  content: '';
  position: absolute;
  top: 109px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary-accent);
  transition: .5s;
}

.input-div input:focus ~ label,
.input-div input:valid ~ label,
.input-div textarea:focus ~ label,
.input-div textarea:not(:placeholder-shown) ~ label{
  top: -5px;
  color: var(--primary-accent);
  font-size: 0.8em;
}

.input-div input:focus ~ span::before,
.input-div input:valid ~ span::before{
  width: 100%;
}

.input-div textarea:focus ~ span::before,
.input-div textarea:not(:placeholder-shown) ~ span::before{
  width: 100%;
}

/* .pass{
  margin: -5px 0 20px 5px;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
} */

button{
  width: 10rem;
  height: 50px;
  border: 1px solid;
  background: var(--primary-accent);
  border-radius: 25px;
  font-size: 18px;
  color: var(--background-1);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: var(--secondary-accent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 930px){
  .contact-details{
    width: 100%;
    padding: 2em;
    font-size: 0.7em;
  }
  .contact-form{
    width: 100%;
    padding: 2em;
  }
}

/* **************** footer css ******************** */

footer {
  padding: 4em 0;
  background-color: #0e0c0c;
  text-align: center;
  font-size: 1.2em;
  color: var(--secondary-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  color: var(--primary-accent);
  text-decoration: none;
}

footer a:hover {
  color: #facda1;
}

@media only screen and (max-width: 680px) {
  footer p {
    font-size: 0.8em;
  }
  
}
